﻿@model getFormData.Models.Form
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />

<div class="row">
    <div class="col-md-4">
    <form asp-action="Index">

        <div class="form-group">
            <label asp-for="name" class="control-label"></label>
            <br />
            <input asp-for="name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="age" class="control-label">Age</label>
            <br />
            <input asp-for="age" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="address" class="control-label">Address</label>
            <br />
            <input asp-for="address" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="number" class="control-label">Number</label>
            <br />
            <input asp-for="number" class="form-control">
        </div>
        
            <input value="Submit" type="submit" class="btn btn-primary">
        

    </form>
    @{ 
        var name = Model != null ?"Name: "+ Model.name : "";
        var address = Model != null ?"Address: "  +Model.address : "";
        var number = Model != null ?"Number: " + Model.number: "";
        var age = Model != null ?"Age: " + Model.age : ""; 
            }

    @name<br>
    @age<br>
    @number<br>
    @address
</div>
    </div>
